<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Online Bank - Transaction</title>
</head>
<body>
<div>
<h2 th:inline="text">Transaction ID: [[${transaction.id}]]
    <span th:if="${transaction.type.equals('C')}"> (Credit)</span>
    <span th:if="${transaction.type.equals('D')}"> (Debit)</span>
</h2>
</div>
<div>
    <div th:inline="text">Date: [[${transaction.date}]]</div>
    <div th:inline="text">Amount: [[${transaction.amount}]]</div>
    <div th:inline="text">Description: [[${transaction.retailer}]]</div>
    <div>
        <a href="/transactions">back</a>
    </div>
</div>
</body>
</html>