<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Online Bank</title>
    <link href="/css/transactions.css" rel="stylesheet"/>
</head>
<body>
<h2>Transaction History</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Retailer</th>
        <th>Funds In</th>
        <th>Funds Out</th>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <td><a th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}" th:inline="text">[[${transaction.id}]]</a>
        </td>
        <td th:inline="text">[[${transaction.date}]]</td>
        <td th:inline="text">[[${transaction.retailer}]]</td>
        <td th:if="${transaction.type.equals('C')}" th:inline="text">[[${transaction.amount}]]</td>
        <td th:inline="text" th:unless="${transaction.type.equals('C')}">&nbsp;</td>
        <td th:if="${transaction.type.equals('D')}" th:inline="text">[[${transaction.amount}]]</td>
        <td th:inline="text" th:unless="${transaction.type.equals('D')}">&nbsp;</td>
    </tr>
</table>
</body>
</html>